body {
  overflow-x: hidden;
}

/*=============================================== NAVBAR ==================================================*/

.alert-warning#nav-alert {
  --bs-alert-color: #ededed;
  --bs-alert-bg: #00c6a9;
  --bs-alert-border-color: #00d3b6;
}

.nav-searchbox {
  box-shadow: 0 0 0 0.25rem #00d9bade;
  /* box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%); */
  border-radius: 23px;
}
.nav-searchbox button {
  border-radius: 23px 0 0 23px !important;
  border: none !important;
  outline: none !important;
}

.nav-searchbox input {
  border-radius: 0 23px 23px 0 !important;
  outline: none !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.nav-searchbox button:hover,
.nav-searchbox input:hover {
  border: none !important;
  outline: none !important;
}

.nav-item {
  margin: 0 15px;
}
.nav-link {
  font-size: 15px;
  font-weight: 500;
}

.nav-social a {
  text-decoration: none;
  font-size: 22px;
}
.nav-social a i {
  color: #ececec;
  transition: 0.2s ease;
}
.nav-social a:hover i {
  color: white;
}

/*=============================================== HOME SECTION-1 ============================================*/

#home-sec-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/images/home1.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  width: 100%;
  height: 80vh;
  text-align: center;
}

.home-text-box {
  position: absolute;
  top: 70px;
  /* left: 89px; */
  /* height: 136px; */
  width: 100%;
}
.home-sec-1-text {
  font-size: 39px;
  font-weight: 600;
  line-height: 1;
  color: white;
}
.hehe {
  margin-top: 0px;
  font-size: 90px;
  font-weight: 700;
  color: #00d2b5;
  height: 56px;
}
.home-text-box p {
  width: 737px;
  /* text-align: inherit; */
  position: relative;
  top: 141px;
  color: #e4e4e4;
  margin: 0 auto;
  display: inline-block;
}

.typed-cursor {
  display: none !important;
}

/*=============================================== HOME SECTION-2 ============================================*/
#home-sec-2 {
  padding: 0 0 75px;
}
.sliderboxes {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.slider-card {
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #efefef;
  border-radius: 19px;
}
.slider-card:hover {
  /* box-shadow: rgba(7, 212, 151, 0.1) 0px 4px 12px; */
  box-shadow: rgba(7, 212, 150, 0.329) 0px 7px 29px 0px;
}
.slider-card .card-icon {
}
.slider-card .card-icon img {
}
.slider-card .card-title {
  font-size: 23px;
  font-weight: 600;
  margin: 20px 0;
  color: #00c6a9;
}
.slider-card .detail-list {
}
.slider-card .detail-list ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}
.slider-card .detail-list ul li {
  margin-bottom: 4px;
  font-weight: 400;
  color: #717977;
}

/*=============================================== HOME SECTION-3 ============================================*/
#home-sec-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/images/homesec3.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 10px 0 100px;
}
.sec3-mainContainer {
}
.leftBox .feature-img {
  order: 2;
}
.sec3-box {
  width: 100%;
  backdrop-filter: blur(0px) saturate(180%);
  -webkit-backdrop-filter: blur(0px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  margin-bottom: 20px;
}
.feature-img img {
  width: 100%;
  border-radius: 9px;
  height: 270px;
}

.feature-details {
}
.feature-details .feature-date {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}
.feature-details .feature-title {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 12px;
}
.feature-details .feature-p {
  font-weight: 400;
  font-size: 15px;
  text-align: justify;
}
.feature-details .feature-price {
  font-size: 17px;
  font-weight: 600;
}

/*=============================================== HOME SECTION-4 ============================================*/

.course-card {
  width: 250px;
  height: 350px;
  position: relative;
  overflow: hidden;
  /* text-align: center; */
  border-radius: 16px;
  border: 1px solid #d1d1d1;
}

.course-card .course-img {
  width: 100%;
  height: 100%;
}
.course-card .course-img img {
  width: 100%;
  height: 100%;
}
.course-card .course-details {
  position: absolute;
  transform: translateY(0%);
  transition: 0.4s ease-in-out;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
}

.course-card:hover .course-details {
  transform: translateY(-100%);
}

.course-card .course-card-name {
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}
.course-card .course-card-rating {
  justify-content: space-evenly;
  margin-bottom: 15px;
}
.course-card .course-card-rating i {
  color: gold;
  font-size: 20px;
}
.course-card .course-card-points {
}
.course-card .course-card-points ul {
}
.course-card .course-card-points ul li {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
}
.course-card .course-card-price {
  font-size: 19px;
  font-weight: 600;
  color: black;
  text-align: center;
}
.course-card .course-card-button {
  border: none !important;
  text-align: center;
  margin: 0 auto;
  display: block;
  font-weight: 600;
}
.course-card .course-card-button:hover {
}

.widget-title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 57px;
  margin-top: -4px;
}

.ft-logo img {
  width: 206px;
  /* filter: invert(1); */
}

.top-footer {
  padding: 115px 0 67px;
  border-bottom: 1px solid #267a77;
}
.widget-info {
  max-width: 260px;
}
.ft-logo {
  height: 155px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.widget-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 57px;
  margin-top: -4px;
}
.widget-form {
  position: relative;
  margin-bottom: 24px;
}
.widget-form input {
  width: 100%;
  height: 68px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 15px;
  font-weight: 500;
  padding: 0 26px;
  border: 1px solid #fff;
  background-color: inherit;
}
.widget-form button {
  position: absolute;
  top: 50%;
  right: 27px;
  background: inherit;
  border: 0;
  color: #fff;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.widget-info > span {
  color: #fffefe;
  font-size: 15px;
  font-weight: 500;
  color: rgba(255, 255, 2255, 0.6);
  margin-bottom: 53px;
  display: block;
}



.circle-sibiling{
  width: 85%;
  font-size: 13px;
}

/* SOCIAL LINKS */

.social-links li {
  display: inline-block;
  margin-right: 5px;
}
.social-links li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 44px;
  text-align: center;
  background-color: #0a5d5a;
  color: #fff;
  transition: all 0.4s ease-in-out;
}
.social-links li a:hover {
  background-color: #fff;
  color: #0a5d5a;
}
.ft-links {
  margin-top: -6px;
}
.ft-links li {
  color: #b7d3d2;
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
  margin-bottom: 16px;
}
.ft-links li a {
  color: white;
  text-decoration: none;
}
.ft-links li:last-child {
  margin-bottom: 0;
}
.widget-contact .ft-links li {
  margin-bottom: 30px;
}

/* BOTTOM FOOTER */

.bottom-footer d-flex justify-content-between align-items-center {
  padding: 49px 0 95px;
}
.ft-logo {
  float: left;
}
.btm-links {
  float: right;
}
.btm-links li {
  display: inline-block;
  padding: 0 21px;
  position: relative;
}
.btm-links li:last-child {
  padding-right: 0;
}
.btm-links li:last-child:before {
  display: none;
}
.btm-links li:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -5px;
  width: 5px;
  height: 5px;
  background-color: #78a7a6;
  border-radius: 10px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.btm-links li a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 500;
  border-bottom: 1px solid #569896;
  padding-bottom: 2px;
}
.btm-links li a:hover {
  color: #fff;
  border-bottom-color: #fff;
}

#html5-watermark {
  display: none !important;
}
div#html5-image {
  padding: 0 !important;
}

.footer-container-row{height:100vh ;}

/* contact us page */

.sec7-imgcon {
  width: 90%;
  height: 352px;
}
.sec7-imgcon img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#home-sec-7 .container .btn {
  background: #ff7a59;
  border-color: #ff7a59;
  color: #ffffff;
  font-size: 17px;
  line-height: 12px;
  border-radius: 5px;
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.abou-sec-2-imgs {
  width: 500px;
}

#about-sec-2 {
  overflow-x: hidden;
}
.wid {
  width: 50%;
}


.about-p {
  width: 433px;
  text-align: justify;
}

.order-div {
  order: 2;
}

.abou-sec-2-imgs {
  width: 500px;
}

@media screen and (max-width: 1000px) {
  .abou-sec-2-imgs {
    width: 331px;
  }
}

@media screen and (max-width: 768px) {
  .flx-row {
    height: max-content;
  }
}








/* COURSE DETAIL PAGE */


.upper-word {
  font-size: 25px;
  font-weight: 600;
}
.down-word {
  font-weight: 500;
  font-size: 13px;
  color: #3d3a3a;
}
.upper-word i.fa-star.fas{
  color: gold;
  font-size: 19px;
}

.price {
  color: #323232;
  font-weight: 600;
  font-size: 35px;
}
.spl-ul-box{
  width: 279px;
  border: 1px solid;
  padding: 20px;
}
li.spl-list {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 15px;
  display: flex;
  align-items: center;
}
li.spl-list span{
width: 50px;
}
li.spl-list i {
  /* width: 34px; */
  font-size: 22px;
}

.scrollable-left{height: 78vh;overflow-y: scroll;}
.still-right{
  height: 78vh;
}

.tag {
  padding: 5px 10px;
  background: #e1e1e1;
  margin: 3px;
  font-weight: 600;
  font-size: 12px;
  border-radius: 18px;
}


/* width */
.scrollable-left::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scrollable-left::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.scrollable-left::-webkit-scrollbar-thumb {
  background: #00c6a9;
  border-radius: 10px;
}